name: CMake
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        type: [Debug, Release]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: arm-none-eabi-gcc
      uses: carlosperate/arm-none-eabi-gcc-action@v1
      with:
        release: 'latest'

    - name: Build binary
      run: |
        cmake -Bbuild -DCMAKE_BUILD_TYPE="${{ matrix.type }}"
        cmake --build build
        arm-none-eabi-objcopy -O binary build/gpsdo.elf build/"${{ matrix.type }}.bin"

    - name: Archive build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-${{ matrix.type }}
        path: build/"${{ matrix.type }}.bin"